<!-- <p>dish-detail works!</p> -->
<div fxFlexLayout="row">
    <div fxFlex *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-action>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-action>
        </mat-card>
    </div>
    <div fxFlex *ngIf="dish">
        <mat-card class="full-height">
            <mat-card-header>
                <mat-card-title>
                    <h3>Comments</h3>
                </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let comment of dish.comments">
                        <p matLine> {{comment.comment}} </p>
                        <p matLine>
                        <span> {{comment.rating}} Stars </span>
                        </p>
                        <p matLine>
                        <span>-- {{comment.author}} {{comment.date | date}}</span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        {{commentForm.value}}

        <mat-list *ngIf="commentForm.valid">
            <mat-list-item>
                <p matLine> {{commentForm.value.comment}} </p>
                <p matLine>
                <span> {{commentForm.value.rating}} Stars </span>
                </p>
                <p matLine>
                <span>-- {{commentForm.value.author}} {{commentForm.value.date | date}}</span>
                </p>
            </mat-list-item>
        </mat-list>

        <form novalidate [formGroup]="commentForm" (ngSubmit) = "onSubmit()" class="form-size">
            <p>
                <mat-form-field>
                    <input matInput formControlName="author" placeholder="Name" required>
                    <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-slider matInput formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" step="1"></mat-slider>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Write the comment here..." rows="4" required></textarea>
                    <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>
    </div>

    <div [hidden]="dish || errMess">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>

    <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
    
</div>
